html {
    background-color: rgb(218, 214, 235);
    box-sizing: border-box;
    font-size: 20px;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.app {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: relative;
}

.app__map {
    background-color: grey;
    box-sizing: initial;
    flex-grow:1;
}

.search {
    align-items: center;
    display: flex;
    padding: 0.5rem 1.5rem;
}

.search__label {
    padding: 0 0.5rem;
}

.search__input {
    border: 0.1rem solid lightgray;
    border-radius: 0.25rem;
    flex-grow: 1;
    font-size: inherit;
    margin: 0.5rem 0;
    min-width: 80%;
    padding: 0.4rem 0.2rem;
}
